* {
  
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  font-family: poppins, sans-serif;
  background-color: #f4f4f4;
  color: white;
  padding: 20px;
  margin: 20px;

}

.container {
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgb(72, 225, 252), rgb(7, 19, 42), rgb(7, 20, 43));

}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
}

h2{
  font-size: 14px;
  font-family: poppins, sans serif;
  color: whitesmoke;
  font-style: normal;
  margin-bottom: 1em;
  font-style: italic;
  text-align: center;
  margin-bottom: 4em;
}
h3{
  font-size: 14x;
  margin-bottom: 10px;
  text-align: left;
  color: whitesmoke;
  font-style: italic;
}
p {
  margin-bottom: 1px;
  line-height: 0.5;
  color: whitesmoke;
}

.contact-info {
  margin-bottom: 2em;
  margin-top: 2em;
  font-size: 12px;
  
}

b{
  line-height: 1.2;
}
  
.form-group {
  margin-bottom: 1px;
}

label {
  display: block;
  
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 40%;
  padding: 10px;
  font-size: 12px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  display: block;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: #5091a3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(160, 156, 156);
}