footer {
  /*position: absolute;
  bottom: 0;*/
  background: linear-gradient(
    to bottom right,
    rgb(72, 225, 252),
    rgb(7, 19, 42),
    rgb(7, 20, 43)
  );
  padding: 2em 3em;
  /* background-color: rgb(72, 225, 252); */
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

.reviews-section {
  padding: 3em;
}

.review-column {
  padding: 2em;
}

.reviews-section h2 {
  margin: 2em 0;
  font-size: 30px;
}
.reviews {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding: 0 1em;
}

.name {
  margin-top: 2em;
}

.contact-form-section {
  padding: 3em;
  flex: 1;
}

.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 3em;
}

.contact-section h2 {
  font-size: 30px;
  margin-bottom: 0.5em;
}

/* .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.contact-form input {
  border-radius: 12px;
  padding: 1em 2em;
  margin: 2em 0;
  color: gray;
  width: 50%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 1em 2em;
  border-radius: 12px;
  width: 50%;
  text-align: center;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(248, 127, 127);
}

.social-icons {
  flex: 1;
}

.fa-brands {
  color: white;
  padding: 2em;
  width: 8em;
}

.fa-brands:hover {
  cursor: pointer;
  color: red;
}
