* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.intro-section {
  height: 90vh;
  /* background-image: url("../Images/powerbank2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* backdrop-filter: blur(18px); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  margin-top: 5em;
}

.intro-section .information {
  padding: 0 3em;
}

.image-section img {
  width: 500px;
  border-radius: 5%;
}

.intro-section .description {
  font-size: 16px;
  font-family: poppins, sans serif;
  color: black;
  text-align: justify;
}

.intro-section p {
  margin: 6px;
  font-size: 10px;
  font-family: poppins, sans-serif;
  color: rgb(40, 135, 142);
  display: flex;
}
.intro-section h2 {
  font-size: 30px;
  font-family: poppins, sans-serif;
  color: black;
}

@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }

  .image-section img {
    width: 400px;
  }
}
